html
    head
        block title
            if request.path.startswith('/category/') and posts.category
                title= '分类：' + posts.category.title + ' - ' + site.title
            elif request.path.startswith('/tag/') and posts.tags
                title= '标签：' + tag + ' - ' + site.title
            elif request.args.s
                title= '搜索：' + request.args.s + ' - ' + site.title
            elif site.configs.sub_title
                title= site.title + ' - ' + site.configs.sub_title
            else
                title= site.title

        +h.headers
        +h.load('/template/style.scss')

    body
        .surface-content
            header.site-header
                .container
                    nav(class='topNav')
                        +site.just_nav
                    h1.site-title: a(href='/')= site.title
                    p.site-description= site.configs.sub_title
            

            main.main-content
                section.container
                    for post in posts
                        article(class='block block--inset block--list')
                            div(class='block-postMetaWrap')
                                time=post.date.format('%m %d, %Y')
                                span.sep
                                if post.category
                                    a(href=post.category.url)= post.category.title
                            h2(class='block-title'): a(href=post.url)= post.title
                            div(class='block-snippet block-snippet--subtitle grap')
                                p= post.content.limit(words=140, keep_images=false).plain
                                p: a(href=post.url,class='more-link')= 'read more..'

                .postsFooterNav
                    .container
                        +h.paginator(style='auto', max_count='8')

            footer.site-footer
                .container
                    | Made with <span class="cute">♥</span><span class="sep"></span>just a <a href="https://fatesinger.com" target="_blank">bigfa</a> theme. 